/* generals  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gothic A1", sans-serif;
  font-family: "Lato", sans-serif;
}

img {
  max-width: 100%;
}

/* header  */

/* main  */

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  max-width: 100%;
}

.content {
  height: calc(100vh - 80px);
  display: flex;
  border: 1px solid green;
}

.sidebar {
  border: 1px solid blue;
  flex-basis: 200px;
}

/* footer  */
footer {
  height: 80px;
  border: 1px solid royalblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .col-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

/* prima colonna  */

.img-sinister {
  width: 40px;
  margin-left: 10px;
  text-align: center;
}

.col-footer-gap {
  gap: 0 10px;
}

.info-song > h4 {
  font-size: 12px;
}

.title-song {
  font-size: 12px;
}
.icon-heart-folder {
  padding: 0 10px;
}
.icon-heart-folder i {
  padding: 0 5px;
}

/* colonna centrale  */

.play-song .point-song {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 22px;
}

.bar-song {
  height: 6px;
  width: 20vh;
  background-color: red;
}
