/* generals  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* header  */

.container {
  display: flex;
  height: calc(100vh - 80px);
}

/* sidebar  */

.sidebar {
  background-color: black;
  flex-basis: 230px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* gap: 5  per distanziare le colonne visto che abbiamo fatto tutto in flex*/
}

.logo-wrapper {
  padding: 20px;
}

.logo-wrapper .wrap-logo {
  max-width: 133px;
}

/* inserimento list-menu  */

.main-list-menu {
  padding-bottom: 5px;
}
.active {
  border-left: 2px solid greenyellow;
}

.main-list-menu .menu__list-item {
  padding: 5px 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.main-list-menu .menu__list-item a {
  display: contents;
}

.main-list-menu .menu__list-item img {
  width: 25px;
  color: white;
  opacity: 0.7;
}

.span-name {
  color: white;
  font-weight: bolder;
  font-size: 14px;
}
.span-name:hover {
  color: goldenrod;

  font-size: 15px;
}

.main-list-menu .name__list-item {
  color: #747272;
  font-size: 13px;
  font-weight: bolder;
}
.main-list-menu .name__list-item:hover {
  color: lawngreen;
  font-size: 15px;
}

/* inserimento playlist  */

.name-section {
  padding: 10px 20px;
}

.sect-playlist .add-new-playlist {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  color: #747272;
  gap: 12px;
  font-size: 16px;
  font-weight: bolder;
}
.sect-playlist .add-new-playlist .icon {
  width: 37px;
  height: 37px;
  background-color: #747272;
  color: black;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sect-playlist {
  display: contents;
}

.sect-playlist .title-playlist__list li {
  color: #747272;
  font-size: 14px;
  list-style: none;
  padding: 0 20px;
  font-weight: 700;
  line-height: 35px;
}

.title-playlist__list {
  overflow-y: auto;
  flex-grow: 1;
}

/* footer-sidebar  */
.down-app {
  padding: 0 20px;
  width: 100%;
}
.down-app::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #747272;
  margin-top: 13px;
  width: 100%;
}
.down-app a {
  color: #747272;
  padding-left: 5px;
}

.profile {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  gap: 12px;
  cursor: pointer;
}

.profile-img {
  height: 25px;
  width: 25px;
  border-radius: 999px;
  overflow: hidden;
  background-color: #747272;
}

.user {
  font-weight: 700;
  font-size: 15px;
}

/* main  */

.header-main {
  flex-grow: 1;
  background-color: #141922;
  position: relative;
  height: 100%;
  overflow-y: scroll;

}

.header-main .main-content {
  
  
  padding-top: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  
  
}

.categories li {
    list-style: none;
    display: inline;
    color: #747272;  
    padding: 0 10px;
    
    
}
.categories li a {
    text-transform: uppercase;
    color: #747272;  
    font-weight: 700;
    font-size: 14px;
}
.categories li a:hover {
 
    color: greenyellow;
}



.space__upgrade {
  min-height: 85px;
  border-bottom: solid greenyellow;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: flex-end; */
}
.btn-upgrade {
  padding: 10px 20px;
  border-radius: 999px;
  text-transform: uppercase;
  border-color: whitesmoke;
  background-color: black;
  height: 42px;
  margin-right:20px;
}
.btn-upgrade a {
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.btn-upgrade:hover {
  border-color: yellowgreen;
}

.btn-upgrade a:hover {
  color: yellowgreen;
}

/* select card  */

.sect-card{
    padding: 15px;
    /* flex-shrink: 0; */
    
}

.sect-card .card{
    display: flex;
    gap: 10px;
    flex-wrap: wrap ;
    text-align: center;

}
.sect-card .card .wrap-card {
    width: calc(90% / 6);
 
}

.title-card{
 padding-bottom: 6px;

}

.comment__title-card{
  padding: 10px 0;
}
.comment__title-card .sugg{
  color: #747272;
  font-weight: 700;
  font-size: 14px;

  
}

.wrap-title {
  padding: 10px;
  text-align: center;
}
.wrap-title .name-song {
  font-size: 16px;
  padding-bottom: 5px;
}
 .subtitle{
  font-size: 14px;
  font-weight: 700;
  color: #747272;
  
}


/* footer  */
#toolsbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-shrink: 0; */
  background-color: #282828;
  color: white;
}

#toolsbar .col-footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0 10px;
  /* max-width: 100%; */
}

/* prima colonna  */

.img-sinister {
  width: 40px;
  margin-left: 10px;
  text-align: center;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.info-song > h4 {
  font-size: 12px;
}

.title-song {
  font-size: 12px;
}
.icon-heart-folder {
  padding: 0 10px;
  max-width: 100%;
}
.icon-heart-folder i {
  padding: 0 5px;
}

/* colonna centrale  */

.play-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.play-song .point-song {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 22px;
}

.bar-song {
  height: 4px;
  width: 20vh;
  background-color: grey;
  display: inline-block;
  margin-left: -5px;
  border-radius: 5px;
  
}

.middle {
  width: 300px;
  
}



.minutes {
  
  font-size: 10px;
}
.min-star {
  padding-right: 10px;
}
.min-end {
  padding-left: 10px;
}

/* colonna destra  */
.col-footer i {
  padding: 0 5px;
}
.col-footer-right {
  padding-right: 10px;
  flex-shrink: 0;
}
