/* generals  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* header  */

.container {
  display: flex;
  height: calc(100vh - 90px);
}

/* sidebar  */

.sidebar {
  background-color: black;
  flex-basis: 230px;
  flex-shrink: 0;
}

.logo-wrapper {
  padding: 20px;
}

.logo-wrapper .wrap-logo {
  max-width: 133px;
}

/* inserimento list-menu  */

.main-list-menu {
  padding-bottom: 5px;
}

.main-list-menu .menu__list-item {
  padding: 5px 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}
.main-list-menu .menu__list-item a {
  display: contents;
}

.main-list-menu .menu__list-item img {
  width: 25px;
  color: white;
  text-align: center;
}

.span-name {
  color: white;
  font-weight: bolder;
  font-size: 14px;
}
.span-name:hover {
  color: goldenrod;

  font-size: 15px;
}

.main-list-menu .name__list-item {
  color: #747272;
  font-size: 13px;
  font-weight: bolder;
}
.main-list-menu .name__list-item:hover {
  color: lawngreen;
  font-size: 15px;
}

/* main  */

.header-main {
  flex-grow: 1;
  background-color: #141922;
  overflow-y: scroll;
  position: relative;
  padding-top: 120px;
}

.space__upgrade {
  min-height: 85px;
  border-bottom: 1px solid red;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.btn-upgrade {
  padding: 10px 20px;
  border-radius: 999px;
  text-transform: uppercase;
  border-color: whitesmoke;
  background-color: black;
  height: 42px;
  margin-right: 15px;
}
.btn-upgrade a {
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.btn-upgrade:hover {
  border-color: yellowgreen;
}

.btn-upgrade a:hover {
  color: yellowgreen;
}

/* footer  */
footer {
  height: 90px;
  border: 1px solid royalblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  background-color: #282828;
  color: white;
}

footer .col-footer {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 0 10px;
  max-width: 100%;
}

/* prima colonna  */

.img-sinister {
  width: 40px;
  margin-left: 10px;
  text-align: center;
  max-width: 100%;
  object-fit: contain;
  object-position: center;
}

.info-song > h4 {
  font-size: 12px;
}

.title-song {
  font-size: 12px;
}
.icon-heart-folder {
  padding: 0 10px;
  max-width: 100%;
}
.icon-heart-folder i {
  padding: 0 5px;
}

/* colonna centrale  */

.play-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.play-song .point-song {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 22px;
}

.bar-song {
  height: 6px;
  width: 20vh;
  background-color: grey;
  display: inline-block;
  margin-left: -5px;
  border-radius: 5px;
  max-width: 100%;
}

.middle {
  width: 70vh;
  margin-left: 0px;
}

.time-music {
  flex-shrink: 0;
}

.minutes {
  max-width: 100%;
  font-size: 10px;
}
.min-star {
  padding-right: 10px;
}
.min-end {
  padding-left: 10px;
}

/* colonna destra  */
.col-footer i {
  padding: 0 5px;
}
.col-footer-right {
  padding-right: 10px;
  max-width: 100%;
}
